---
import SignOut from "../components/SignOut.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/yen.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    {
      title == "Sign in" ? null : (
        <nav>
          <a href="/">Home</a>
          <SignOut />
        </nav>
      )
    }
    <slot />
  </body>
</html>
